section div.footer {
    background: rgba(0, 0, 0, 1);
    /* height: 88px; */
    height: 80px;
    width: 100%;
    bottom: 0px;
    position: absolute;
    margin: 0 auto;

    box-shadow: 0px 0.2px 7px rgb(46, 46, 46);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0px;
    position: fixed;
}
section div.footer p.left {
    color: whitesmoke;
    padding-left: 15%;
    white-space: nowrap;
    font-size: 15px;
}

section div.footer p.right {
    color: whitesmoke;
    padding-right: 15.5%;
    white-space: nowrap;
    font-size: 15px;
}
