section.header-calc {
    height: 50%;
    width: 50%;
    margin: 0 auto;
}

section header.subFormHeader {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    padding: 5% 15%;
    width: 100%;
}

section header.subFormHeader h1.subTitleForm {
    font-size: 14px;
    padding: 0 5%
}

section header.subFormHeader img.arrow {
    height: 19px;
    width: 12.5px;
} 

section div.field {
    margin: 0 auto;
    width: 96px;
    height: 40px;
    border-radius: 6px;
    position: relative;
    background: rgba(255, 255, 255, 0.3);
    transition: 0.5s all;
    display: flex;
    align-items: center;
    padding: 0 auto;
    border: none;
    margin: 5%;
}

section div.field:hover {
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

section div.field input {
    margin: 0 auto;
    width: 93%;
    height: 100%;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    color: white;
    font-size: 14px;
    text-indent: 5px;
}

section div.field input::placeholder {
    color: rgba(245, 245, 245, 0.75);
    margin: 0 auto;
    /* padding: 5%; */
}

section div.box-calc {
    background: rgb(110, 110, 110);
    margin: 0 auto;
    height: 100%;
    width: 90%;
    box-shadow: 0px 0.2px 5px rgb(59, 59, 59);
    border-radius: 6px;
    top: 10%;
}

section div.div-header {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    padding-top: 3%;
    padding-bottom: 1%;
}

section div.content-size {
    width: 100%;
    margin: 0 auto;
}

section p {
    color: whitesmoke;
    font-size: 150%;
    font-weight: bold;
}