section.header-rtime {
    height: 50%;
    width: 50%;
    margin: 0 auto;
    /* float: right; */
    padding: 0 auto;
}

section header.subHeader {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

section header.subHeader h1.subTitle {
    font-size: 14px;
    /* padding: 1% 15%; */
    margin: 0 auto;
}

section div.box {
    background: rgb(110, 110, 110);
    margin: 0 auto;
    height: 350px;
    width: 90%;
    /* padding-top: 3%; */
    padding-bottom: 1%;
    box-shadow: 0px 0.2px 5px rgb(59, 59, 59);
    border-radius: 6px;
    /* bottom: 0; */
    /* overflow: scroll;
    overflow-x: hidden; */
}

section div.box h1 {
    color: whitesmoke;
    font-size: 12px;
    /* padding: 2% 3%; */
}

section div.box table.table-cotation {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding-top: 0%;
}

section div.box table.table-cotation tr {
    color: whitesmoke;
    margin: 0 auto;
    padding: 3% 5%;
    padding-bottom: 2%;
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    justify-content: space-between;
    font-size: 8px;
    margin: 0 auto;
}

section div.box table.table-cotation tr td {
    width: 100px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    /* justify-content: space-between; */
}

tr.tr-header {
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    padding-left: 50%;
}

div.divHead {
    position: absolute;
    height: 80px;
    width: 44%;
}

div.fixed-head {
    width: 100%;
    height: 100%;
    background: rgb(110, 110, 110);
    border-radius: 6px;
}

h1.subTitle {
    padding-top: 2%;
}

table.table-cotationH {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding-left: 6%;
}

table.table-cotationH tr{
    color: whitesmoke;
    margin: 0 auto;
    padding: 3% 5%;
    padding-bottom: 2%;
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    justify-content: space-between;
    font-size: 8px;
    margin: 0 auto;
}

table.table-cotationH tr td {
    width: 100px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

div.content {
    overflow: scroll;
    overflow-x: hidden;
    height: 75%;
    position: relative;
    top: 80px;
}

div.content::-webkit-scrollbar {
    width: 1em;
}

div.content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 6px;
}

div.content::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 6px;
}

table.table-cotationC {
    margin: 0 auto;
    width: 100%;
    height: 350px;
    padding-top: 0%;
    padding-left: 6%;
}

table.table-cotationC tr {
    color: whitesmoke;
    margin: 0 auto;
    padding: 3% 5%;
    padding-bottom: 2%;
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    justify-content: space-between;
    font-size: 8px;
    margin: 0 auto;
}

table.table-cotationC tr td {
    width: 100px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    /* justify-content: space-between; */
}

#tbody {
    height: 350px;
    width: 100%;

}
