* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

section.app {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border: 0 auto;
    padding-top: 3%
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background: #4b4b4b;
    height: 88%;
    width: 100%;
    border: none;
    margin: 0 auto;
    position: absolute;
}

div.calc-div {
    padding-top: 1%;
}

div.foot {
    margin: 0 auto;
    bottom: 0;
}