section header.header-principal {
    width: 100%;
    /* max-width: 1440px; */
    margin: 0 auto;
    height: 95px;
    padding: 0 15%;
    font-family: stambor;

    background: rgb(119, 70, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0.2px 7px rgb(46, 46, 46);
}

section header h1 {
    /* color: rgb(155, 155, 155); */
    color: whitesmoke;
}

section header div {
    display: flex;
}

section header div h2 {
    /* color: rgb(155, 155, 155); */
    color: whitesmoke;
    font-size: 18px;
    padding: 0 15px;
}

section div img.coin {
    width: 40px;
    height: 40px;
}

@font-face {
    font-family: stambor;
    src: url('../../fonts/stampbor_clean.otf');
}