section.graph {
    width: 50%;
    height: 50%;
}

section.graph div.graph-content {
    /* height: 350px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section div.box-graph {
    background: rgb(110, 110, 110);
    margin: 0 auto;
    height: 350px;
    width: 90%;
    padding-top: 3%;
    padding-bottom: 1%;
    box-shadow: 0px 0.2px 5px rgb(59, 59, 59);
    border-radius: 6px;
    bottom: 0;
}

section header.subHeaderG {
    display: flex;
    align-items: center;
    white-space: nowrap;
    top: 0;
}

section header.subHeaderG h1.subTitleG {
    font-size: 14px;
    /* padding: 1% 15%; */
    margin: 0 auto;
    top: 0;
}

h1.subTitleg {
    font-size: 14px;
    /* padding: 1% 15%; */
    margin: 0 auto;
}

#myChart {
    width: 100%;
    height: 100%;
}

div.tamGra {
    width: 100%;
    height: 280px;
    padding-top: 2%;
}